---

<center><h1> üìç üìç Tipe Data Pada Pyton üìç üìç </h1></center>

Supplementary code untuk artikel tipe data pada python
 
 - Angka
 - String
 - List
 - Tuple
 - Dictionary

***Source:*** https://geosai.my.id/

---

## 1. Angka

In [38]:
# Tipe data angka
my_number = 10
my_number2 = 20
hasil = my_number + my_number2

# Print hasil pada console
print("Hasil penjumlahan adalah: {}".format(hasil))

# Perkalian 2 bilangan integer
hasil_perkalian = my_number * my_number2
print("Hasil penjumlahan adalah: {}".format(hasil_perkalian))

# Check jenis tipe data menggunakan type
print("Tipe data adalah {}".format(type(hasil_perkalian)))

Hasil penjumlahan adalah: 30
Hasil penjumlahan adalah: 200
Tipe data adalah <class 'int'>

**Cara lain untuk membuat tipe data ini dalah dengan menggunakan built-in function pada Python**

In [43]:
# Membuat tipe data number integer
angka_int = int(20)
print("Nilai dari angka_int adalah: {}".format(angka_int))

# Membuat tipe data number float
angka_float = float(20)
print("Nilai dari angka_int adalah: {}".format(angka_float))

Nilai dari angka_int adalah: 20
Nilai dari angka_int adalah: 20.0

## 2. String

In [48]:
# Tipe data string
jenis_bunga1 = 'Bunga Mawar'
jenis_bunga2 = 'Bunga Melati'

# Print hasil pada console
print("Jenis bunga1 adalah {bunga1} dan bunga2 adalah {bunga2}".format(bunga1=jenis_bunga1, bunga2=jenis_bunga2))

# Tipe data string (menggunakan " ")
jenis_bunga3 = "Bunga Mawar's" 
jenis_bunga4 = "Bunga Melati's"

# Check jenis tipe data menggunakan type
print("Tipe data adalah {}".format(type(jenis_bunga4)))

Jenis bunga1 adalah Bunga Mawar dan bunga2 adalah Bunga Melati
Tipe data adalah <class 'str'>

**Cara lain untuk membuat string adalah dengan menggunakan built-in function string. Penggunakan str() biasanya digunakan jika kita ingin melakukan casting (perubahan tipe data) dari angka menjadi string.**

In [51]:
# Membuat tipe data dengan menggunakan built-in function string str()
hewan_peliharaan = str('Dogy')

# Casting tipe data
my_number = 20 # Akan disimpan sebagai number integer

# Casting tipe data integer menjadi string
my_number_str = str(20) # Akan disimpan menjadi string

## 3. Tuple

In [56]:
# Tipe data tuple yang berisi string
countries = ('Indonesia', "Amerika", "Jerman", "Saudi Arabia", "Denmark")
print("Daftar negara {}".format(countries))


# Tipe data tuple yang berisi string dan number
mix_items = ('Mac', 'Tablet', 20, 'Merah', 'Bunga Mawar')
print("Mix items {}".format(mix_items))

Daftar negara ('Indonesia', 'Amerika', 'Jerman', 'Saudi Arabia', 'Denmark')
Mix items ('Mac', 'Tablet', 20, 'Merah', 'Bunga Mawar')

In [61]:
# Tipe data tuple yang berisi string
countries = ('Indonesia', "Amerika", "Jerman", "Saudi Arabia", "Denmark")

# Mengetahui jumlah elemen pada countries
countries_length = len(countries)
print("Jumlah data pada daftar negara adalah {} item".format(countries_length))

# Mengkases tiap-tiap elemen pada countries
# Mengakses Indonesia pada index 0
print("Index 0 pada countries berisi {}".format(countries[0]))

# Mengakses Saudi Arabia 
print("Index 3 pada countries berisi {}".format(countries[3]))

Jumlah data pada daftar negara adalah 5 item
Index 0 pada countries berisi Indonesia
Index 3 pada countries berisi Saudi Arabia

**Cara lain untuk membuat tuple adalah dengan menggunakan built-in function tuple. Penggunakan tuple().**

In [62]:
# Membuat tuple dengan built-in function tuple()
my_country = tuple('Indonesia')
print(my_country)

('I', 'n', 'd', 'o', 'n', 'e', 's', 'i', 'a')

## 4. List

In [92]:
# Tipe data list
countries_list = ['Indonesia', 'Amerika', 'Jerman', 'Belanda']

# Mengetahui jumlah elemen pada countries_lsit
countries_list_length = len(countries_list)
print("Jumlah data pada daftar negara adalah {} item".format(countries_list_length))

# Mengkases tiap-tiap elemen pada countries
# Mengakses Indonesia
countries_list[0]
print("Index 0 pada countries_list berisi {}".format(countries_list))

# Membuang satu elemen yaitu kata Belanda
countries_list.pop()
print("Countries list setela di-pop berisi {}".format(countries_list))

# Menambahkan satu elemen data baru pada countries_list
countries_list.append(('Australia', 'Rusia'))
print("Countries list setelah di append berisi {}".format(countries_list))

Jumlah data pada daftar negara adalah 4 item
Index 0 pada countries_list berisi ['Indonesia', 'Amerika', 'Jerman', 'Belanda']
Countries list setela di-pop berisi ['Indonesia', 'Amerika', 'Jerman']
Countries list setelah di append berisi ['Indonesia', 'Amerika', 'Jerman', ('Australia', 'Rusia')]

**Cara lain untuk membuat list adalah dengan menggunakan built-in function list. Penggunakan list().**

In [93]:
# Membuat tuple dengan built-in function tuple()
my_country_list = list('Indonesia')
print(my_country)

('I', 'n', 'd', 'o', 'n', 'e', 's', 'i', 'a')

<h2> 5. Dictionary

In [101]:
# Tipe data dictionary
my_bio_dict = {'nama':'myw', 'usia':20, 'hobby':'ngoding', 'alamat_email':'donjoe@gmail.com'}
print("My bio dict berisi {}".format(my_bio_dict))

# Mengetahui jumlah elemen pada my_bio_dict
my_bio_dict_len = len(my_bio_dict)
print("Jumlah elemen pada my_bio_dict adalah {}".format(my_bio_dict_len))

# Mengkases tiap-tiap elemen pada countries
# Mengakses nama cara 1
nama = my_bio_dict['nama']
print(nama)

# Mengakses nama cara 2 dengan menggunakan method get
nama = my_bio_dict.get('nama')
print(nama)

# Mengakses usia cara 1
usia = my_bio_dict['usia']
print(usia)

# Mengakses nama cara 2 dengan menggunakan method get
usia = my_bio_dict.get('usia')
print(usia)

# Menambahkan satu elemen data baru pada my_bio_dict
# Menambahkan elemen baru dengan kata kunci/key baru yaitu pekerjaan dengan nilai Analyst
my_bio_dict['Pekerjaan'] = 'Analyst'
print("My bio dict baru berisi {}".format(my_bio_dict))

My bio dict berisi {'nama': 'myw', 'usia': 20, 'hobby': 'ngoding', 'alamat_email': 'donjoe@gmail.com'}
Jumlah elemen pada my_bio_dict adalah 4
myw
myw
20
20
My bio dict baru berisi {'nama': 'myw', 'usia': 20, 'hobby': 'ngoding', 'alamat_email': 'donjoe@gmail.com', 'Pekerjaan': 'Analyst'}